<section class="hero-section carousel">
  <div class="carousel-container">
    <div class="top-gradient"></div>
    <div class="current-description"></div>
    <article class="item item-0">
      <div class="item-description">
        <h1>Ételeink</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          molestie at libero vel pellentesque. Mauris efficitur dolor vitae
          ipsum fringilla sodales. Fusce sollicitudin arcu eget mauris tristique
          luctus.
        </p>
        <p>
          Phasellus nec odio ut risus maximus semper. Nullam porttitor tortor eu
          rhoncus laoreet. Cras facilisis faucibus arcu, at aliquam enim.
        </p>
      </div>
      <img class="full-size-cover" src="../../../assets/item-1.jpg" />
    </article>
    <article class="item item-1">
      <div class="item-description">
        <h1>Foglalás</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          molestie at libero vel pellentesque. Mauris efficitur dolor vitae
          ipsum fringilla sodales. Fusce sollicitudin arcu eget mauris tristique
          luctus.
        </p>
        <p>
          Phasellus nec odio ut risus maximus semper. Nullam porttitor tortor eu
          rhoncus laoreet. Cras facilisis faucibus arcu, at aliquam enim.
        </p>
      </div>
      <img class="full-size-cover" src="../../../assets/item-2.jpg" />
    </article>
    <article class="item item-2">
      <div class="item-description">
        <h1>Kiszállítás</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          molestie at libero vel pellentesque. Mauris efficitur dolor vitae
          ipsum fringilla sodales. Fusce sollicitudin arcu eget mauris tristique
          luctus.
        </p>
        <p>
          Phasellus nec odio ut risus maximus semper. Nullam porttitor tortor eu
          rhoncus laoreet. Cras facilisis faucibus arcu, at aliquam enim.
        </p>
      </div>
      <img class="full-size-cover" src="../../../assets/item-3.jpg" />
    </article>
  </div>
  <div class="carousel-controls">
    <div class="offset"></div>
    <button class="icon-button" onclick="onClickLeft()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <div class="indicators"></div>
    <button class="icon-button">
      <i class="fa fa-chevron-right" onclick="onClickRight()"></i>
    </button>
    <div class="offset">
      <button class="icon-button carousel-toggle" onclick="toggleCarousel()">
        <i class="fa fa-pause hidden"></i>
        <i class="fa fa-play"></i>
      </button>
    </div>
  </div>
  <div class="bottom-gradient"></div>
</section>
