<section class="about-us">
  <div class="header">
    <h1>Szeretettel várunk!</h1>
    <small>Az ország egyik legnépszerűbb étterme 2020 óta.</small>
  </div>
  <div class="divider"></div>
  <div class="content">
    <img
      class="restaurant-image"
      src="assets/landing-section-2-illustration.jpg"
    />
    <article class="article">
      <h2>Rólunk</h2>
      <p>
        Nunc lobortis venenatis augue et egestas. Suspendisse feugiat blandit
        massa sit amet varius. Duis lobortis interdum risus, et dictum odio
        suscipit quis. In ornare, nunc et ullamcorper vestibulum, lorem massa
        auctor eros, eget pellentesque lacus enim a massa. Nam hendrerit urna
        nec gravida egestas. Nullam vulputate orci ac libero venenatis porta.
        Curabitur fringilla a mauris sed euismod.
      </p>
      <p>
        Felkeltettük az érdeklődésedet?
        <a class="link" routerLink="/carte">Ide kattintva foglalhatsz.</a>
      </p>
    </article>
  </div>
</section>
