<mat-vertical-stepper linear #registrationStepper color="primary">
  <mat-step [stepControl]="authenticationGroup">
    <form [formGroup]="authenticationGroup">
      <ng-template matStepLabel>Bejelentkezéshez szükséges adatok</ng-template>
      <mat-form-field>
        <mat-label>Felhasználónév</mat-label>
        <input
          matInput
          formControlName="user_name"
          placeholder="felhasználónév"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="email@email.hu"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="***"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Jelszó Újra</mat-label>
        <input
          matInput
          type="password"
          formControlName="passwordAgain"
          placeholder="***"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperNext>Következő</button>
      </div>
    </form>
  </mat-step>
  <!-- [editable]="isEditable" -->
  <mat-step [stepControl]="personalGroup">
    <form [formGroup]="personalGroup">
      <ng-template matStepLabel>Profil Adatok</ng-template>
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input
          matInput
          formControlName="first_name"
          placeholder="Vezetéknév"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input
          matInput
          formControlName="last_name"
          placeholder="Keresztnév"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefonszám</mat-label>
        <input
          matInput
          formControlName="phone_number"
          placeholder="Keresztnév"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperPrevious>Vissza</button>
        <button mat-button color="accent" matStepperNext>Következő</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="locationGroup">
    <form [formGroup]="locationGroup">
      <ng-template matStepLabel>Szállítási adatok</ng-template>
      <mat-form-field>
        <mat-label>Irányítószám</mat-label>
        <input
          matInput
          type="number"
          formControlName="zip_code"
          placeholder="3300"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Város</mat-label>
        <input matInput formControlName="city" placeholder="Eger" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Utca</mat-label>
        <input
          matInput
          formControlName="street"
          placeholder="József Attila"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Házszám</mat-label>
        <input
          matInput
          formControlName="house_number"
          placeholder="201/E"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Emelet</mat-label>
        <input matInput formControlName="storey" placeholder="5" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ajtó</mat-label>
        <input matInput formControlName="door_number" placeholder="43" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kapucsengő</mat-label>
        <input matInput formControlName="doorbell" placeholder="11" />
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperPrevious>Vissza</button>
        <button
          mat-button
          color="accent"
          matStepperNext
          (click)="onClickRegistrate()"
        >
          Következő
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Kész</ng-template>
    <p class="end-capture">Köszönjük ,hogy regisztrált.</p>
    <div>
      <button mat-button matStepperPrevious color="accent">Vissza</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-vertical-stepper>
