header{
    background-color: black;

    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

::ng-deep .mat-menu-content{
    background-color :black;
  }