<div class="login-group" style="margin-top: 40px; margin-left: 40px; margin-right: 40px;" fxLayout="column " fxLayoutAlign="center">
  <h1 style="margin:auto">Bejelentkezés</h1>
  <form [formGroup]="loginForm">
    <div style="margin: 0 20px 0 20px;" fxLayout="column wrap">
    <mat-form-field>
      <mat-label>Felhasználónév</mat-label>
      <input matInput type="text" formControlName="username"/>
      <mat-error *ngIf="loginForm.get('username').errors?.required"
        >A mező kitöltése kötelező!</mat-error
      >
      <mat-error *ngIf="loginForm.get('username').errors?.minlength"
        >Legalább 3 karakternek kell lennie!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </div>
  <div class="button-content">
    <button
    mat-raised-button
    class="login-button"
    color="primary"
    (click)="onClickLogin()"
    [disabled]="loginForm.invalid"
    type="submit"
  >
    Bejelentkezés
  </button>
  </div>
  </form>
  
</div>
