<table class="table-food">
  <thead>
    <tr>
      <th></th>
      <th>Termék</th>
      <th>Ár</th>
      <th>Hozzávalók</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.foods">
      <td class="image-column"><img [src]="item.src" /></td>
      <td class="name-column">{{ item.name }}</td>
      <td class="price-column">{{ item.price }} Ft</td>
      <td class="ingredient-column">
        <ul class="simple-list inline-elements">
          <li
            *ngFor="let ingredient of item.ingredients; let i = index"
            [matTooltip]="ingredient.allergene | arrayList"
          >
            {{
              ingredient.name + (i < item.ingredients.length - 1 ? ", " : "")
            }}
          </li>
        </ul>
      </td>
      <td class="cart-column">
        <button mat-raised-button color="primary">
          <mat-icon class="white-icon" aria-hidden="false" aria-label="Cart"
            >shopping_cart</mat-icon
          >
        </button>
      </td>
    </tr>
  </tbody>
</table>
