<div class="main-content">
    <label class="main-label">Kosár</label>
    <table class="table-carte">
        <thead>
            <tr>
            <th>Termék</th>
            <th>Ár</th>
            <th>Mennyiség</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.userCarte">
                <td>{{ item.food.name}}</td>
                <td>{{ item.food.price}}</td>
                <td>{{ item.count }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="bottom-content">
    <div class="price">
        <h2>Összesen:</h2>
        <h2>{{this.countPrice}} Ft</h2>
    </div>
    <div>
        <button mat-raised-button>Megrendelem</button>
    </div>
</div>