/* @font-face {
  font-family: GreatVibes;
  src: url(assets/fonts/GreatVibes-Regular.ttf);
} */

$app-primary-color: #508f96;
$app-secondary-color: #bd3a49;
$app-background-color: #dedede;
$app-template-color: #ffffff;
$button-content-white: #ffffff;
$app-secondary-font: "GreatVibes", cursive;
