@import './common.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.white-icon{
    color: white !important;
}
.white-btn{
    color: white;
}

.secondary-color {
    color: $app-secondary-color;
}