@import "./common.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  --app-primary-font: "Roboto", sans-serif;
  --app-secondary-font: "Great Vibes", cursive;
}

.white-icon {
  color: white !important;
}
.white-btn {
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.warn {
  background-color: red;
  color: white;
}

.secondary-color {
  color: $app-secondary-color;
}

.left-boarder {
  border-left: 1px solid $app-background-color;
}

.top-border {
  border-top: 1px solid $app-background-color;
}

.right-border {
  border-right: 1px solid $app-background-color;
}

.bottom-border {
  border-bottom: 1px solid $app-background-color;
}

.app-body {
  background-color: $app-background-color;
}

.simple-list {
  list-style-type: none;
  padding: 0;

  &.inline-elements {
    li {
      display: inline-block;
      white-space: pre-wrap;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

mat-vertical-stepper {
  .mat-step-label {
    color: gray !important;

    &-selected {
      color: black !important;
    }
  }

  .mat-step-icon {
    background-color: gray !important;

    &-selected {
      background-color: black !important;
    }
  }
}
