.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-content{
    margin: 0 10% 0 10%;
    //background-color: #333333;

    .profile-label{
        padding-top: 20px;
        margin: auto;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

//::ng-deep .mat-focused .mat-form-field-label {
//    /*change color of label*/
//    color: black !important;
//   }
//  
//   ::ng-deep.mat-form-field-underline {
//    /*change color of underline*/
//    background-color: black !important;
//  } 
//  
//  ::ng-deep.mat-form-field-ripple {
//   /*change color of underline when focused*/
//   background-color: black !important;;
//  }