<div class="flex-col profile-content">
    <label class="profile-label">Személyes adatok</label>
    <form *ngIf="profileForm" [formGroup]="profileForm" color='accent' class="flex-col">
        <mat-form-field class="form-field">
        <mat-label class="mat-label">Felhasználónév</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="profileForm.get('username').errors?.required"
            >A mező kitöltése kötelező!</mat-error
        >
        <mat-error *ngIf="profileForm.get('username').errors?.minlength"
            >Legalább 3 karakternek kell lennie!</mat-error
        >
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Vezetéknév</mat-label>
            <input matInput type="text" formControlName="first_name" />
            <mat-error *ngIf="profileForm.get('first_name').errors?.required">
                A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Keresztnév</mat-label>
            <input matInput type="text" formControlName="last_name" />
            <mat-error *ngIf="profileForm.get('last_name').errors?.required">
                A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Email</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="profileForm.get('email').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Telefonszám</mat-label>
            <input matInput type="text" formControlName="phone_number" />
            <mat-error *ngIf="profileForm.get('phone_number').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Irányítószám</mat-label>
            <input matInput type="text" formControlName="zip_code" />
            <mat-error *ngIf="profileForm.get('zip_code').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Város</mat-label>
            <input matInput type="text" formControlName="city" />
            <mat-error *ngIf="profileForm.get('city').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Utca</mat-label>
            <input matInput type="text" formControlName="street" />
            <mat-error *ngIf="profileForm.get('street').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Házszám</mat-label>
            <input matInput type="text" formControlName="house_number" />
            <mat-error *ngIf="profileForm.get('house_number').errors?.required">
            A mező kitöltése kötelező!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Emelet</mat-label>
            <input matInput type="text" formControlName="storey" />
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Ajtó</mat-label>
            <input matInput type="text" formControlName="door_number" />
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label class="mat-label">Kapucsengő</mat-label>
            <input matInput type="text" formControlName="doorbell" />
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="openConfirmDialog()"> Küldés </button>
</div>