<!-- menu items  currently not used-->
<!-- <button mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
<!-- <button mat-stroked-button class="">Főoldal</button>
<button mat-stroked-button >Akció</button>
<button mat-stroked-button >Foglalás</button>
<button mat-stroked-button >Étlap</button>
<button mat-stroked-button >Kontakt</button> -->

<nav class="navigation">
  <ul>
    <li class="top-border bottom-border" routerLink="/">Főoldal</li>
    <li class="emphasize left-boarder top-border bottom-border">Akció</li>
    <li class="left-boarder top-border bottom-border">Foglalás</li>
    <li class="left-boarder top-border bottom-border" routerLink="/carte">
      Étlap
    </li>
    <li class="left-boarder top-border bottom-border">Kontakt</li>
  </ul>
</nav>
