<h1>Elérhetőségeink</h1>
<div class="main-content" fxLayout="column">
    <!-- fxLayoutAlign="center center" -->
    <label><!-- <mat-icon aria-label="aod">aod</mat-icon> -->telefonszám: +36121234567</label>
    <label><!-- <mat-icon area-label="email">mark-email-unread</mat-icon> -->postafiók: example@examle.hu</label>
    <label>facebook: facebook.com/namelessrestaurant</label>
    <label>instagram: instagram.com/namelessrestaurant</label>
    <label>4321, Kukutyin Rudolf utca 33</label>
</div>