<div class="main-content" fxLayout="column">
    <h1>Elérhetőségeink</h1>
    <div fxLayout="row">
        <mat-icon aria-label="telephone">aod</mat-icon> 
        <p>+36121234567 </p>
    </div>
    <div fxLayout="row">
        <mat-icon area-label="email">email</mat-icon> 
        <p>example@examle.hu</p>
    </div>
    <div fxLayout="row">
        <mat-icon area-label="facebook">facebook</mat-icon> 
        <p>facebook.com/namelessrestaurant</p>    
    </div>
    <div fxLayout="row">
        <mat-icon area-label="instagram">photo_camera</mat-icon> 
        <p>instagram.com/namelessrestaurant</p>
    </div>
    <div fxLayout="row">
        <mat-icon area-label="adress">home</mat-icon>
        <p>4321, Kukutyin Rudolf utca 33</p>
    </div>
</div>