@import "../../../../common.scss";

.hero-body {
  position: relative;

  .gfg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .carousel-cell {
    background-size: 100%;

    $carouselItemCount: 3;
    @for $i from 1 to $carouselItemCount {
      &:nth-child(#{$i}) {
        background-image: url('/assets/item-#{$i}.jpg');
      }
    }
  }

  .stop-carousel {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .description {
    height: 380px;
    width: 300px;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.85);
    white-space: initial;

    h1 {
      font-family: $app-secondary-font;
      font-size: 2.5em;
    }
  }
}
