<div class="hero-body">
  <div class="current-description">
    <h1>Foglalás</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie at
      libero vel pellentesque. Mauris efficitur dolor vitae ipsum fringilla
      sodales. Fusce sollicitudin arcu eget mauris tristique luctus.
    </p>
    <p>
      Phasellus nec odio ut risus maximus semper. Nullam porttitor tortor eu
      rhoncus laoreet. Cras facilisis faucibus arcu, at aliquam enim.
    </p>
  </div>
  <img class="gfg" src="../../../assets/item-1.jpg" />
</div>
