<section class="order">
  <div class="top-divider"></div>
  <div class="header">
    <h1>Rendelj tőlünk!</h1>
  </div>
  <div class="bottom-divider"></div>
  <div class="content">
    <div class="left-content">
      <img class="image" src="assets/landing-section-3-illustration.jpg" />
    </div>
    <div class="right-content">
      <h2>Rendelések felvétele és kiszállítás a nap 24 órájában.</h2>
      <p>
        Nunc sapien dui, porttitor a diam non, pellentesque molestie dolor. In
        id neque vitae eros commodo dictum. Cras dolor nisl, aliquet at erat
        faucibus, egestas sollicitudin magna. Donec interdum turpis velit, eget
        ultricies sapien auctor at.
      </p>
      <button mat-raised-button routerLink="/cart" class="online-order">
        Online Rendelés
      </button>
    </div>
  </div>
</section>
